a{
    text-decoration: none !important;
}
h2.heading {
    /* text-align: center; */
    font-weight: 500;
    color: #ffcc00;
    font-size: 30px;
    margin-bottom: 20px;
}


.yellow-color{
    background-color: #ffcc00;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
.hero-section h1 {
    font-size: 60px;
}
.hero-section h3{
    color: #556a7f;
    font-size: 40px;
}

.woman{
    max-width: 200px !important;
    position: absolute;
    right: 137px;
    bottom: 0;
}
.hero_cover{
    position: relative;
    border-bottom: 3px solid #000;
}

.process-flow ul {
    padding: 0;
    list-style: none;
    display: flex;
    max-width: 64%;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    margin-top: 73px;
}

.process-flow ul li {
    background: #fff;
    padding: 45px 24px;
    margin: 0 63px;
    box-shadow: 0px 12px 16px -10px #00000099;
    border-radius: 8px;
}

.text-lime{
    color: lime;
}


.background-drop{
    background-image: linear-gradient(to top,#00ff003b, #fff);
    padding: 90px 0;
}


.process-flow ul {
    position: relative;
}
.process-flow ul::before {
    content: "";
    height: 2px;
    background: #dfdfdf;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: -1;
}

.black-big-font{
    font-size: 60px;
    
}
.gray-big-font {
    color: #556a7f;
    font-size: 40px;
}


